node_modules
.DS_Store
database2/amenities.csv
database2/amenitiesCategories.csv
database2/highlights.csv
database2/joinListingsAmenities.csv
database2/joinListingsHighlights.csv
database2/listings.csv
database2/unitTypes.csv
database2/users.csv